{% extends 'rango2/base.html' %}
{% load bootstrap_toolkit %}

{% block title_block %}
    Add Category
{% endblock %}

{% block body_block %}
 <form role="form"id="category_form"method="post"action="{% url 'rango2:add_category' %}">
     {% csrf_token %}
     {% for hidden in form.hidden_fields %}
     {{ hidden }}
     {% endfor %}
     {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}<br/>
        {{ field }}<br/>
     {% endfor %}
     <br/>
    <button class="btn btn-primary"type="submit"name="submit">Add Category</button>
 </form>


<!--
    <h1>Add a Category</h1>
    <div>
        <form id="category_form"method="post"action="{% url 'rango2:add_category' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit"name="submit"value="Create Category"/>
        </form>
    </div>
    -->
{% endblock %}